.photo= image_tag 'fanny_vachon.jpg'
%h1
  .main
    Fanny Vachon
  .title
    .fr Maquilleuse
    .sep •
    .en Makeup Artist
  .contact
    .tel
      +1 (514) 994-2422
    .sep •
    .email
      :javascript
        eval(decodeURIComponent('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%5c%22%6d%61%69%6c%74%6f%3a%66%61%6e%6e%79%40%66%61%6e%6e%79%76%61%63%68%6f%6e%2e%63%6f%6d%5c%22%3e%66%61%6e%6e%79%40%66%61%6e%6e%79%76%61%63%68%6f%6e%2e%63%6f%6d%3c%5c%2f%61%3e%27%29%3b'))


.bios
  .bio.fr
    %p
      Fanny Vachon, artiste maquilleuse professionnelle dans le domaine du cinéma depuis plus de 12 ans.

    %p
      Suite à ses études en France en esthétique et cosmétologie, elle a remporté plusieurs 1er prix en makeup et en body painting (Make Up For Ever, Fleurimon, ...)

    %p
      Elle était chef maquilleuse sur les séries «#{link_to "Helix", "http://www.imdb.com/title/tt2758950/combined"}»
      %span.network (SiFi)
      et «#{link_to "Virginie", "http://www.imdb.com/title/tt0131689/combined"}»
      %span.network (Radio-Canada)
      ainsi que des longs métrages
      de #{who("Louis Bélanger")} et de #{who("Jean-Phillipe Pearson")}.

    %p
      Elle a également eu le privilège d'être la 1ère assistante de plusieurs chefs réputées
      telles que #{who("Annick Chartier")}, #{who("Eva Coudouloux")}, #{who("Monica Huppert")}, #{who("Colleen Quinton")} et #{who("Nathalie Tissier")} sur de nombreux longs métrages américains.

    %p
      Pour la liste exhaustive des productions sur lesquelles Fanny Vachon a travaillé, se référer à
      sa #{link_to "filmographie sur IMDB.com", "http://www.imdb.com/name/nm1005101/"}.

  .bio.en
    %p
      Fanny Vachon is a makeup artist working in the movie industry with over 12 years of experience.

    %p
      Following her esthetics and cosmetology studies in France, she won multiple first prizes in makeup and body painting (Make Up For Ever, Fleurimon, ...)

    %p
      She was makeup department head on TV series
      «#{link_to "Helix", "http://www.imdb.com/title/tt2758950/combined"}»
      %span.network (SiFi)
      and «#{link_to "Virginie", "http://www.imdb.com/title/tt0131689/combined"}»
      %span.network (Radio-Canada)
      as well as movies by #{who("Louis Bélanger")} and #{who("Jean-Phillipe Pearson")}.

    %p
      She had the privilege to work as co-head for renowned heads such
      as #{who("Annick Chartier")}, #{who("Eva Coudouloux")}, #{who("Monica Huppert")}, #{who("Colleen Quinton")} and #{who("Nathalie Tissier")} on numerous american movies.

    %p
      For an exhaustive list of productions Fanny Vachon has worked on, please refer to
      her #{link_to "filmography on IMDB.com", "http://www.imdb.com/name/nm1005101/"}.


.portfolio
  .nav
    - images.each_with_index do |img, i|
      - if img[:section]
        %a.section{href: "##{img[:section].parameterize}", data: {index: i}}
          = img.section
  .gallery
    - images.each do |img|
      .image
        %img{src: "images/gallery/#{img[:file]}"}
        .label
          - if img[:who]
            = img[:who]
            in
          = movie(img)
        - if img[:credit]
          .credit=img[:credit]
